URxvt.scrollBar: off
URxvt.font: xft:ubuntu mono:size=12:style=medium:antialias=true
URxvt.boldFont: xft:ubuntu mono:size=12:style=medium:antialias=true
! Famicom Colors - rzrscm@gmail.com
*background: #000000
*foreground: #f8d8f8
! Black + DarkGrey
*color0:  #010101
*color8:  #787878
! DarkRed + Red
*color1:  #f83800
*color9:  #f87858
! DarkGreen + Green
*color2:  #00b800
*color10: #58d854
! DarkYellow + Yellow
*color3:  #f8b800
*color11: #f8d878
! DarkBlue + Blue
*color4:  #0000fc
*color12: #0078f8
! DarkMagenta + Magenta
*color5:  #d800cc
*color13: #f878f8
!DarkCyan + Cyan
*color6:  #3cbcfc
*color14: #a4e4fc
! LightGrey + White
*color7:  #bcbcbc
*color15: #fcfcfc

URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/chromium
URxvt.matcher.button:   1

